body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNnoPHEvTQHK3L9tiyt9_a2OLE9NOEUbYiw140M0zVPG_2fxNN&usqp=CAU");
    background-size: auto 200vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu{
    background-color: #DEB887;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: #8B4513
  }